# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages of data science
- list commonly used libraries
- list open source data science tools
- shows the use of python blocks to evaluate expressions

## Author

Alex S.

Some of the popular languages that Data Scientists use are:

1) python
2) R
3) julia

Some of the commonly used libraries used by Data Scientists include:

1) pandas
2) numpy
3) ggplot

|Data Science Tools|
--------------------
|Jupyter Notebook  |
|RStudio           |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
def hours_to_minutes(t_minutes):
    return t_minutes/60
hours_to_minutes(200)

3.3333333333333335